body {

    background-color: rgb(220, 214, 255); padding: 150px; font-family: Arial, Helvetica, sans-serif;
}

#menu {
    background-color: rgb(3, 5, 123);
}

form {
    width: 450px;
    margin:auto;
    background: rgba(3, 5, 123, 0.761);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius:20px;
}
h2 {

    color: black;
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom: 20px;
}
input, textarea {
width: 100%;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;
font-size: 17px;
border: none;
}

textarea {

    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    }

    #boton {
        background: gray;
        color: whitesmoke;
        padding: 20px;
        
    }

    #boton:hover {

        cursor: pointer;

    }

    @media screen and(max-width:400px){
    body {
        width: 100%;
    } 
} 


#menu ul {
list-style: none;
margin:0;
padding: 0;
}
#menu ul li {
    display: inline-block;

    }

    #menu ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 20px 80px;

        }

        #menu ul li a:hover {
            background-color:#42B881;
               
            }
            .alinearD
            {
            float: right;

            }
            h1 {
                color: #585858;
            }
            
            .img1 {
            height:200px;
            width: 200px;

            }
s
            .img2 {
                
                height:100px;
                width: 100px;
    
                }
    

            .capitalLetter
{
   float:left;
   color:rgb(108, 15, 15);
   background:white;
   border:1px solid #999999;
   font-size:80px;
   line-height:60px;
   padding:2px;
   font-family:times;
   margin-right: 5px;
}
p{
    text-align: justify;
}
.redondeado {
    border-radius: 5px;
  }
  .confondo {
    background-color: #def;
  }

div {
    background-color: red;
}
